#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
}
main{
    flex-grow: 1;
}
header, footer{
    background-color: blanchedalmond;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
a{
    display: flex;
    min-width: max-content;
    width: 100%;
    text-decoration: none;
    color: inherit;
}